@charset "UTF-8";

/*
Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root {
    --cor0: #262026;
    --cor1: #D0D5D9;
    --cor2: #8C675A;
    --cor3: #59322E;
    --cor4: #0D0000;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor2) 5%, var(--cor0) 95%);
    }

    #login {
        width: 80vw;
        height: 300px;
    }

    #login > #img {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor2) 5%, var(--cor0) 95%);
    }

    #login {
        width: 950px;
        height: 350px;
    }

    #login > #img {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #form {
        float: left;
        width: 50%;
    }
}